<div class="container">
    <h2>{{cuenta}} Pokemons que tenemos en el array: </h2>
    <hr />
    <div class="columns">
        <div class="column">
            <p>En el orden del array: </p>
            <p *ngIf=pokemonSeleccionado>El Pokémon seleccionado es: {{pokemonSeleccionado }}</p>
        </div>
    </div>
    <div class="columns is-multiline">
        <ul class="menu-list column is-one-third" *ngFor="let personaje of personajes">
            <app-pokemon [personaje]=personaje (eventoClicImagen)="pokemonSeleccionado =$event"></app-pokemon>
        </ul>
    </div>

    <form>
        <div class="field has-addons">
            <div class="control has-icons-left">
                <input class="input is-small" name=" personajeBusca" type="test" placeholder="Nombre del personaje"
                    [(ngModel)]="formBuscarPersonaje.nombre" (keyup)="buscar(formBuscarPersonaje.nombre)">
            </div>
            <div class="control">
                <a class="button is-primary is-small" (click)="buscar(formBuscarPersonaje.nombre)">
                    Buscar
                </a>
            </div>
            <div class="control">
                <a class="button is-light is-small" (click)="cancelarBuscar()">
                    Cancelar </a>
            </div>
        </div>
    </form>
</div>

